<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="!local">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <logger name="jsonLogger" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="consoleAppender"/>
        </root>
    </springProfile>
    <springProfile name="local">
        <appender name="consoleDefaultAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <logger name="consoleLogger" additivity="false" level="INFO">
            <appender-ref ref="consoleDefaultAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="consoleDefaultAppender"/>
        </root>
    </springProfile>
</configuration>
